{{- if .Values.internalDomain.enable -}}
apiVersion: cloud.tibco.com/v1
kind: TibcoAlb
metadata:
  name: {{ .Values.ingressProvider.name }}-ingress-internal
  namespace: {{ .Release.Namespace }}
spec:
  profileName: lb-internal
  endpoint:
    healthCheckSetting:
      checkConfig:
        healthyThreshold: 2
        interval: 20
        timeout: 5
        unhealthyThreshold: 2
      healthCheckPath: /ping
      healthCheckPort: 9000
      healthCheckSuccessCodes: "404"
    lbPort: 443
    lbProtocol: HTTPS
    path: /*
    targetPort: {{ .Values.ingressProvider.port }}
    targetProtocol: HTTPS
  serviceName: {{ .Release.Name }}{{ .Values.ingressProvider.serviceName }}

{{- $domain := .Values.domain.internal }}
{{- $ingressName := .Values.ingressProvider.name }}
{{- $releaseNamespace := .Release.Namespace }}
{{- range $i, $e := .Values.internalDomain.list }}
---
apiVersion: cloud.tibco.com/v1
kind: TibcoDns
metadata:
  name: {{ $ingressName }}-ingress-internal-{{ $i }}
  namespace: {{ $releaseNamespace }}
spec:
  dns:
    domain: {{ $domain }}
    vanityDomain: {{ $e.name }}
  values:
    crRef:
      crKind: tibcoalb
      name: {{ $ingressName }}-ingress-internal
      namespace: {{ $releaseNamespace }}
{{- end -}}
{{- end -}}