apiVersion: cloud.tibco.com/v1
kind: TibcoLbConfig
metadata:
  name: lb-external
  namespace: tibco-system
  labels:
    app.kubernetes.io/name: tibco-platform
spec:
  alb:
    cloudFormation:
      name: alb-v1.yaml
      input:
        InstallationExportPrefix: INSTALLATION_NAME
        ClusterExportPrefix: KUBERNETES_CLUSTER_NAME
        Listener01Enabled: "true"
        Listener01Protocol: "HTTPS"
        Listener01Port: "443"
        Listener01LBCertificateARN: TIBCO_COMMON_AWS_SVC_CERT_ID
        LBSecurityGroupId: TIBCO_COMMON_AWS_SECURITY_GROUP_ID_LB_TENANT
        Scheme: internet-facing
        utilityBucket: TIBCO_COMMON_AWS_S3_LOGGING_BUCKET
      output:
        loadbalancerArnKey: Id
        loadbalancerDNSKey: DNSName
      tags:
        app.cloud.tibco.com/cost-allocation: tibco-platform
  dns:
    domain: TIBCO_COMMON_DNS_SVC_DOMAIN
  isDefault: true
  namespaces:
    - cattle-system
    - traefik-system
    - citrix-system
    - tibco-system

---
apiVersion: cloud.tibco.com/v1
kind: TibcoLbConfig
metadata:
  name: lb-internal
  namespace: tibco-system
  labels:
    app.kubernetes.io/name: tibco-platform
spec:
  alb:
    cloudFormation:
      name: alb-v1.yaml
      input:
        InstallationExportPrefix: INSTALLATION_NAME
        ClusterExportPrefix: KUBERNETES_CLUSTER_NAME
        Listener01Enabled: "true"
        Listener01Protocol: "HTTPS"
        Listener01Port: "443"
        Listener01LBCertificateARN: TIBCO_COMMON_AWS_SVC_CERT_ID
        LBSecurityGroupId: TIBCO_COMMON_AWS_SECURITY_GROUP_ID_LB_TENANT
        Scheme: internet-facing
        utilityBucket: TIBCO_COMMON_AWS_S3_LOGGING_BUCKET
      output:
        loadbalancerArnKey: Id
        loadbalancerDNSKey: DNSName
      tags:
        app.cloud.tibco.com/cost-allocation: tibco-platform
  dns:
    domain: TIBCO_COMMON_DNS_SVC_DOMAIN
  isDefault: true
  namespaces:
    - cattle-system
    - traefik-system
    - citrix-system
    - tibco-system
