apiVersion: v1
kind: Secret
metadata:
  name: {{ include "o11y-service.fullname" . }}
  labels:
    {{- include "o11y-service.labels" . | nindent 4 }}
  annotations:
    "helm.sh/resource-policy": "keep"
type: Opaque
stringData:
  ES_EXPORTER_LOG_INDEX_PASSWORD: {{ .Values.global.cp.resources.o11y.logsServer.secret.exporter.userapp.logindex.password }}
  ES_SERVICE_LOG_INDEX_PASSWORD: {{ .Values.global.cp.resources.o11y.logsServer.secret.exporter.services.logindex.password }}
  logserver-app-proxy-password: {{ .Values.global.cp.resources.o11y.logsServer.secret.proxy.userapp.logindex.password }}
  #'logserver-app-expo-password' duplicate of 'ES_EXPORTER_LOG_INDEX_PASSWORD'
  logserver-app-expo-password: {{ .Values.global.cp.resources.o11y.logsServer.secret.exporter.userapp.logindex.password }}
  #'logserver-svc-expo-password' duplicate of 'ES_SERVICE_LOG_INDEX_PASSWORD'
  logserver-svc-expo-password: {{ .Values.global.cp.resources.o11y.logsServer.secret.exporter.services.logindex.password }}
  promserver-proxy-password: {{ .Values.global.cp.resources.o11y.metricsServer.secret.proxy.password }}
  promserver-exporter-token: {{ .Values.global.cp.resources.o11y.metricsServer.secret.proxy.token }}
  jaeger-es-username: {{ .Values.global.cp.resources.o11y.tracesServer.secret.es.password }}
